<div id="client">
    <h3>Activa tu pinche Flash</h3>
    <h4 translate-compile>No detecto tu pinche flash mrk</h4>
    <a id="getFlash" href="http://www.adobe.com/go/getflashplayer" target="_blank">
        <div class="get-flash"></div>
    </a>
</div>
<div class="client__buttons">
  <button (click)="goBack()" class="client__close">
    <i class="client__close__icon icon icon--habbo"></i>
    <div class="client__close__text">Web</div>
  </button>
</div>