#client {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

object {
    visibility: hidden;
}

h3 {
    padding-top: 50px;
    font-size: 22px;
    text-align: center;
}

h4 {
    margin: 0 auto;
    width: 400px;
    padding: 10px 0 20px 0;
    font-size: 18px;
    text-align: center;
}

.get-flash {
    display: block;
    margin: 0 auto;
    width: 158px;
    height: 39px;
    image-rendering: pixelated;
}

.client__buttons {
    left: 12px;
    position: absolute;
    top: 12px;
    z-index: 630;
}

.client__buttons button:first-child, .client__buttons button:not(:first-child):not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.client__buttons button:not(:last-child) {
    margin-right: 4px;
}

.client__buttons button {
    box-shadow: 0 3px 0 1px rgba(0,0,0,.3);
    background-color: #ffb900;
    border-color: #ffea00;
    padding: 6px 12px;
    border-radius: 5px;
    border-width: 2px;
    display: block;
    float: left;
}

.client__buttons .client__close, .hotel-button {
    filter: drop-shadow(-1px 4px 0 rgba(0, 0, 0, .3));
}

.client__buttons .client__close:hover {
    background-color: #ffd400;
    border-color: #fffd70;
}

.client__buttons .client__close:active, .client__buttons .client__close:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.client__buttons .client__close, .client__buttons button {
    line-height: 1.2;
    text-align: center;
    color: #000;
    font-size: 12px;
    border-style: solid;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.client__buttons .client__close {
    display: inline-block;
    background-color: #ffb900;
    border-color: #ffea00;
    border-radius: 0 5px 5px 0;
    border-width: 2px 2px 2px 1px;
    box-shadow: none;
    position: relative;
    margin-left: 14px;
    padding: 5px 6px;
}

.client__buttons .client__close:before {
    border-width: 15px;
    top: -2px;
    border-color: transparent #ffea00 transparent transparent;
    left: -31px;
}

.client__buttons .client__close:hover:before {
    border-color: transparent #fffd70 transparent transparent;
}

.client__buttons .client__close:after {
    border-width: 13px;
    top: 0;
    border-color: transparent #ffb900 transparent transparent;
    left: -26px;
}

.client__buttons .client__close:hover:after {
    border-color: transparent #ffd400 transparent transparent;
}

.client__buttons .client__close:after, .client__buttons .client__close:before {
    content: '';
    position: absolute;
    display: block;
    border-style: solid;
}

.client__close__text {
    line-height: 16px;
    padding-left: 6px;
}