<div class="container">
    <div class="row">
      <div class="cell-7">
        <div class="box">
            <div class="text-bold fg-light display1">¿Cómo Jugar?</div>
            <div class="content fg-white">
                <p>Ya has puesto un look a tu avatar, has hecho confortable tu Territorio y Frank te ha mostrado cómo funcionan algunas cosas del Hotel… Así que, ¿qué es lo siguiente?</p>
                <p>Aquí te dejamos algunas ideas:</p>
                <p><img src="https://images.habbo.com/c_images/HowToPlay/navigator_es.png" alt="Navegador" class="float-right"></p>
                <h3>Explorar salas</h3>
                <p>Haz clic en el Navegador y selecciona una de las salas públicas en donde podrás chatear con otros Habbos.</p>
                <hr>
                <p><img src="https://images.habbo.com/c_images/HowToPlay/ask_friend_es.png" alt="Pedir Amistad" class="float-right"></p>
                <h3>Hacer amigos</h3>
                <p>¡Haz clic sobre un Habbo y pídele amistad o dale respetos!</p>
                <hr>
                <p><img src="https://images.habbo.com/c_images/HowToPlay/gamehub_es.png" alt="Central de Juegos" class="float-right"></p>
                <h3>Visita salas de juegos</h3>
                <p>Encuentra la Central de Juegos entre las salas públicas del navegador. ¡Una vez aquí, utiliza cualquiera de las máquinas arcade para ir a un juego!</p>
                <hr>
                <p><img src="https://images.habbo.com/c_images/HowToPlay/shop.png" alt="Catálogo" class="float-right"></p>
                <h3>Ir de compras</h3>
                <p>¡Ve a la tienda de Duckets y mira qué puedes conseguir gratis por tus Duckets!</p>
                <hr>
                <h3>Échale un ojo a las actividades</h3>
                <p>¡En la <a routerLink="/">Home</a> encontrarás las últimas noticias, competiciones y eventos generales de Habbo!</p>
                <p>¡Una vez que hayas hecho un poco de todo esto estarás en camino de ser un auténtico Habbo ciudadano!</p>
            </div>
        </div>
      </div>
    </div>
  </div>