<div class="row h-100 m-0">
  <div class="cell-4">
      <div class="box">
          <div class="display2 fg-light text-bold">Conéctate.</div>
          <form  #loginForm="ngForm" (ngSubmit)="login(loginForm)" data-role="validator" action="javascript:" data-interactive-check="true">
                <div *ngIf="isError" class="bg-darkRed fg-white rounded text-small text-bold m-2 p-1">{{errorMsg}}</div>
                <div class="form-group">
                  <label class="fg-lightGrayBlue text-bold">Usuario</label>
                  <input class="arctic fg-grayBlue" name="login.identification" #loginForm.identification="ngModel" [(ngModel)]="loginForm.identification" type="text" data-role="input" data-validate="required">
                  <span class="invalid_feedback">
                      ¡Oops! Ingresa tu usuario correctamente...
                  </span>
              </div>
              <div class="form-group">
                  <label class="fg-lightGrayBlue text-bold">Contraseña</label>
                  <input class="arctic fg-grayBlue" name="login.password" #loginForm.password="ngModel" [(ngModel)]="loginForm.password" type="password" data-role="input" data-validate="required">
                  <span class="invalid_feedback">
                      ¡Oops! Ingresa tu contraseña correctamente...
                  </span>
              </div>
              <div class="form-group">
                      <input type="checkbox" data-role="checkbox" data-caption="Recordarme" data-cls-caption="fg-lightGrayBlue" data-cls-check="bd-grayBlue">
              </div>
              <div class="form-group">
                  <button class="button habbo" type="submit">Ingresar</button>
                  <button routerLink="/quickregister" class="fg-white button habbo blue float-right">¡Registrarme!</button>
              </div>
          </form>
      </div>
  </div>
  <div @fadeIn class="cell hotel-view">
      <div id="slogan" class="fg-white">
          <h1 class="text-bold">Bienvenido a Habbo,</h1>
          <h4 class="text-bold">Un lugar extraño con gente genial.</h4>
      </div>
  </div>
</div>