<div class="container-fluid arctic-body h-100">
    <div class="grid mb-0 arctic-grid h-100">
        <div class="row">
            <app-header></app-header>
        </div>
        <div class="row arctic-body {{background}}">
            <app-side @slideInOut [currentPage]="currentPage" *ngIf="active" class="darken"></app-side>
            <div class="cell p-0 arctic-content">
                <div class="fg-white"></div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
