<div class="container">
  <div class="row">
    <div class="cell-7">
      <div class="box">
          <div class="text-bold fg-light display1">¿Qué es Habbo?</div>
          <div class="content fg-white">
            <p>¡Habbo es una comunidad virtual online de estilo vintage en donde puedes <strong>crear tu propio avatar, hacer amigos, chatear, construir salas y diseñar juegos,</strong> y mucho más! Casi todo es posible en este sorprendente lugar repleto de gente increíble…</p>
            <h2>Más que un simple juego…</h2>
            <p><img src="https://images.habbo.com/c_images/WhatIsHabbo/ill_15.png" alt="Encuentra tu comunidad" class="float-right"></p>
            <p>Vestir tu avatar con los estilos más modernos no es la única forma de divertirse en Habbo. ¿Quieres ser el arquitecto del siglo y <strong>construir deslumbrantes estructuras</strong>? ¡Entonces el Club del Arquitecto es para ti! ¿Quieres mostrar tus locas <strong>habilidades construyendo juegos</strong> y dejar alucinados a tus amigos? ¡Únete a nuestras competiciones! ¿Estás loco por las <strong>selfies y las imágenes divertidas</strong>? Prueba nuestra cámara.</p>
            <h2>Encuentra tu comunidad</h2>
            <p>¿Te gusta chatear y conversar con tus amigos? <strong>Los Habbos Grupos, los foros o comunidades donde interpretar un rol</strong> son un buen lugar para comenzar. Únete al ejército y aprende cuál es el sentido del deber; ponte tu capa y salva gracias a ella a todo el universo Habbo; viste tus píxeles con la moda Alta Costura de Habbo y prepárate para desfilar por las pasarelas más glamurosas del Hotel; o conviértete en una enfermera y ayuda a curar los píxeles de nuestros pacientes enfermos. ¡Únete ya a nuestra comunidad y empieza a explorar un universo infinito de situaciones!</p>
            <h2>Exprésate</h2>
            <p><img src="https://images.habbo.com/c_images/WhatIsHabbo/ill_16.png" alt="Express yourself" class="float-right"></p>
            <p>¡La creatividad e imaginación son siempre bienvenidas en Habbo! Todas las semanas tenemos montones de concursos en los que poder participar. Desde <strong>competiciones de salas y fotos, hasta pixel-art, vídeos y concursos de looks</strong> ¡Hay miles de cosas con las que poder dejar fluir tu imaginación y ganar premios increíbles! ¿Te sientes creativo? ¡Consulta la sección <a routerLink="/">noticias</a> para estar al día de todas las competiciones semanales!</p>
            <h2>Juega gratis</h2>
            <p>Podrás jugar gratis a Habbo y con ello explorar un universo infinito de salas, retos, chats y ganar cientos de premios sin tener que gastarte un crédito.</p>
            <p>Para algunas cosas extras dentro de Habbo tendrás que usar Habbo Créditos: mascotas, Habbo Club, Club del Arquitecto y furnis. Para más información sobre cómo conseguir créditos visita la sección <a routerLink="/shop">Habbo Compras</a></p>
            <h2>Siempre dispuestos a ayudar…</h2>
            <p><img src="https://images.habbo.com/c_images/WhatIsHabbo/ill_17.png" alt="Pincha aquí si necesitas ayuda" class="float-right"></p>
            <p>El Hotel está moderado 24 horas al día, 7 días a la semana. Si quieres jugar a Habbo y navegar por Internet de forma segura te aconsejamos que eches un vistazo a nuestros <a routerLink="/playing-habbo/safety">Consejos de seguridad</a></p>
            <p>Somos una de las mayores comunidades virtuales para adolescentes y estamos muy orgullosos de poder afirmar que contamos con un <strong>profundo conocimiento de seguridad online</strong>, siguiendo siempre las directrices internacionales establecidas por grupos gubernamentales y asociaciones de jóvenes.</p>
          </div>
      </div>
    </div>
  </div>
</div>