/* You can add global styles to this file, and also import other style files */
@font-face{
	font-family: 'Ubuntu Light';
	src: url("./assets/fonts/Ubuntu-L.ttf") format('truetype');
}  

html {
	height: 100%;
  }
	
  html, body {
	font-family: 'Ubuntu Light';
	height: 100% !important;
	margin: 0;
  }

  .arcticSwitch .check::after {
	background: #ffffff!important;
	border-color: transparent!important;	
  }

  .arcticSwitch input[type="checkbox"]:checked ~ .check {
	background: #106b3a!important;
  }
  
  .arcticSwitch input[type="checkbox"]:checked ~ .check::after {
	border-color: #ffffff!important;
	background: #ffffff!important;
  }

  
  .arctic {
   border: none;
   border-radius: 3px;
  }

  .arctic > input[type=text], input[type=password], input[type=tel], input[type=datetime-local], input[type=email], input[type=file], input[type=month], input[type=number], input[type=search], input[type=time], input[type=url], input[type=week], input[type=file], select, textarea, .file, .input, .textarea, .select, .tag-input, .spinner {
	background: rgba(0, 0, 0, 0.3);
	color: #67696f;
  }

  .arctic > input[type=text].required, input[type=password].required, input[type=tel].required, input[type=datetime-local].required, input[type=email].required, input[type=file].required, input[type=month].required, input[type=number].required, input[type=search].required, input[type=time].required, input[type=url].required, input[type=week].required, input[type=file].required, select.required, textarea.required, .file.required, .input.required, .textarea.required, .select.required, .tag-input.required, .spinner.required {
	border: none !important;
  }

  .arctic.dropdown-toggle::before {
	border-color: #ffffff;
  }

  .arctic.focused {
	box-shadow: none;
  }

  .arctic .drop-container {
	background: transparent;
	border: none;
  }

  .arctic .d-menu {
	background: rgba(0,0,0,0.5);
	color: #ffffff;
  }

	.carousel {
		background-color: transparent;
		max-width: 753px;
		max-height: 300px;
	}

	.carousel .slide {
		border-radius: 3px;
	}

	::-webkit-scrollbar {
	width: 14px;
	height: 18px;
  }
  ::-webkit-scrollbar-button {
	width: 0;
	height: 10px;
  }
  ::-webkit-scrollbar-thumb {
	height: 6px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
  ::-webkit-scrollbar-track {
	background: transparent;
  }
  ::-webkit-scrollbar-corner {
	background-color: transparent;
  }
  ul {
	margin: 0;
	padding: 0;
  }
  hr {
	border-width: 0 0 8px;
    clear: both;
    margin: 1.35em auto;
	max-width: 100%;
	border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 0%, 0.3)" cx="1" cy="0.3" r="0.3"/></svg>') 0 0 100% repeat;
	border-style: inset;
	background-color: transparent;
	}
	.guest-container {
		width: 100%;
		min-height: 100%;
		background: #070d19;
		background-image: url(./assets/images/bg_texture.out.png);
		background: radial-gradient(circle at center, #00528c, #070d19);
	}
  .container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
  }
  .container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
  }
  .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
  }
  .col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
  }
  .col-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
  }
  .col-1 {
	-ms-flex: 0 0 8.33333%;
	flex: 0 0 8.33333%;
	max-width: 8.33333%;
  }
  .col-2 {
	-ms-flex: 0 0 16.66667%;
	flex: 0 0 16.66667%;
	max-width: 16.66667%;
  }
  .col-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
  }
  .col-4 {
	-ms-flex: 0 0 33.33333%;
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
  }
  .col-5 {
	-ms-flex: 0 0 41.66667%;
	flex: 0 0 41.66667%;
	max-width: 41.66667%;
  }
  .col-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
  }
  .col-7 {
	-ms-flex: 0 0 58.33333%;
	flex: 0 0 58.33333%;
	max-width: 58.33333%;
  }
  .col-8 {
	-ms-flex: 0 0 66.66667%;
	flex: 0 0 66.66667%;
	max-width: 66.66667%;
  }
  .col-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
  }
  .col-10 {
	-ms-flex: 0 0 83.33333%;
	flex: 0 0 83.33333%;
	max-width: 83.33333%;
  }
  .col-11 {
	-ms-flex: 0 0 91.66667%;
	flex: 0 0 91.66667%;
	max-width: 91.66667%;
  }
  .col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
  }
  .order-first {
	-ms-flex-order: -1;
	order: -1;
  }
  .order-last {
	-ms-flex-order: 13;
	order: 13;
  }
  .order-0 {
	-ms-flex-order: 0;
	order: 0;
  }
  .order-1 {
	-ms-flex-order: 1;
	order: 1;
  }
  .order-2 {
	-ms-flex-order: 2;
	order: 2;
  }
  .order-3 {
	-ms-flex-order: 3;
	order: 3;
  }
  .order-4 {
	-ms-flex-order: 4;
	order: 4;
  }
  .order-5 {
	-ms-flex-order: 5;
	order: 5;
  }
  .order-6 {
	-ms-flex-order: 6;
	order: 6;
  }
  .order-7 {
	-ms-flex-order: 7;
	order: 7;
  }
  .order-8 {
	-ms-flex-order: 8;
	order: 8;
  }
  .order-9 {
	-ms-flex-order: 9;
	order: 9;
  }
  .order-10 {
	-ms-flex-order: 10;
	order: 10;
  }
  .order-11 {
	-ms-flex-order: 11;
	order: 11;
  }
  .order-12 {
	-ms-flex-order: 12;
	order: 12;
  }
  .offset-1 {
	margin-left: 8.33333%;
  }
  .offset-2 {
	margin-left: 16.66667%;
  }
  .offset-3 {
	margin-left: 25%;
  }
  .offset-4 {
	margin-left: 33.33333%;
  }
  .offset-5 {
	margin-left: 41.66667%;
  }
  .offset-6 {
	margin-left: 50%;
  }
  .offset-7 {
	margin-left: 58.33333%;
  }
  .offset-8 {
	margin-left: 66.66667%;
  }
  .offset-9 {
	margin-left: 75%;
  }
  .offset-10 {
	margin-left: 83.33333%;
  }
  .offset-11 {
	margin-left: 91.66667%;
  }
  .box {
	border-radius: 3px;
	padding: 10px;
	margin: 0 0 10px;
  }
  .box.darkTransparent {
	background: rgba(16, 16, 16, 0.55);
  }
  .box > .title {
	font-size: 14pt;
	font-weight: bold;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 0px 0px rgba(93, 93, 93, 0.2);
	padding: 5px 5px;
  }
  .box > .content {
	font-size: 10pt;
	padding: 10px;
	}

  .promo {
	background-color: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	height: 100%;
	padding: 15px;
  }

  .promo > .title {
	font-size: 18pt;
	font-weight: bold;
  }

  .promo > .summary {
	font-size: 10pt;
	padding: 10px;
	width: 55%;
  }

  .promo > .actions {

  }

  .button.habbo {
    color: #ffffff;
    background-color: #1f5409;
    border: 2px solid #74bd2a;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Ubuntu Light';
    border-radius: 0.25rem;
  }

  .button.habbo.blue {
	background-color: #00608e;
    border: 2px solid #0499e4;
  }

  .button.habbo:hover {
    background-color: #296d0d;
  }

  .button.habbo.blue:hover {
	background-color: #0777ad;
  }
